<div class="tabs">
    <a href="{% url 'user:dashboard' %}"
        class="px-5 py-2 bg-secondary hover:bg-primary duration-300 text-white font-semibold text-sm rounded-sm">Profile</a>
    <a href="{% url 'user:minuites' %}"
        class="px-5 py-2 bg-secondary hover:bg-primary duration-300 text-white font-semibold text-sm rounded-sm">Minutes</a>
    <a href="{% url 'user:checkbooks' %}"
        class="px-5 py-2 bg-secondary hover:bg-primary duration-300 text-white font-semibold text-sm rounded-sm">Checkbooks</a>
</div>
